<a href="https://colab.research.google.com/github/SandaruwiniGalappaththi/MLOM_TAKE_HOME_ASSIGNMENT/blob/main/MLOM_TAKE_HOME_ASI_IT20167264.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import libraries

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.svm import SVC

##Connect with google drive

In [49]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

##Load the directory

In [50]:
%cd /content/gdrive/MyDrive/spam

/content/gdrive/MyDrive/spam

##Getting Spam dataset

In [51]:
data=pd.read_csv("spam.csv")

##Information about dataset

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      5572 non-null   object
 1   EmailText  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [53]:
data

     Label                                          EmailText
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham             Will Ã_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

##Check duplicates

In [63]:
data.duplicated(subset = ['Label','EmailText']).sum()

403

In [60]:
data.loc[data.duplicated(subset = ['EmailText'],keep = False)]

     Label                                          EmailText
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...
11    spam  SIX chances to win CASH! From 100 to 20,000 po...
...    ...                                                ...
5524  spam  You are awarded a SiPix Digital Camera! call 0...
5535   ham  I know you are thinkin malaria. But relax, chi...
5539   ham                         Just sleeping..and surfing
5553   ham                        Hahaha..use your brain dear
5558   ham                             Sorry, I'll call later

[684 rows x 2 columns]

##Remove duplicates

In [64]:
data.drop_duplicates(subset = ['Label','EmailText'], keep = 'last', inplace=True)

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5169 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      5169 non-null   object
 1   EmailText  5169 non-null   object
dtypes: object(2)
memory usage: 121.1+ KB

##Split into x and y

In [66]:
X = data['EmailText'].values
y = data['Label'].values

##Split dataset into training and testing

In [67]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)

##Using CountVectorizer() convert string into integer

In [68]:
cv = CountVectorizer() 
X_train = cv.fit_transform(X_train)
X_test = cv.transform(X_test)

##Applying SVM algorithm

In [69]:
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)

SVC(random_state=0)

##Getting accuracy

In [70]:
print(classifier.score(X_test,y_test))

0.9777562862669246

##Get inputs to a list

In [71]:
TEST = ['Hey, you have won a car !!!!. Conrgratzz', 'Dear applicant, Your CV has been recieved. Best regards', 'You have received $1000000 to your account', 'Join with our whatsapp group', 'Kindly check the previous email. Kind Regards']

##Convert strings to integers

In [72]:
TEST = cv.transform(TEST)

##Predict the class 'spam' or 'ham'

In [73]:
classY = classifier.predict(TEST)
classY

array(['ham', 'ham', 'ham', 'ham', 'ham'], dtype=object)